@import "/css/core/reset.css";
@import "/css/core/base.css";
@import "/css/core/typography.css";
@import "/css/layout/header.css";
@import "/css/layout/footer.css";
@import "/css/layout/display-block.css";
@import "/css/layout/paragraph.css";

.title {
    width: 80%;
    margin-bottom: 20px;
}

#sleek-as-fkuc {
    position: relative;
    height: 100vh;
    min-height: calc(2*var(--image-block-height) + 500px);
    z-index: -1;

    background-image: url("/asset/background.png");
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
}

#sleek-as-fkuc .content {
    position: absolute;
    bottom: calc(var(--image-block-height) + 100px);
    left: var(--default-margin);

    width: 400px;
    font-size: 15px;
    color: white;
}

#sleek-as-fkuc .content::before,
#sleek-as-fkuc .content::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: grey;
}

#sleek-as-fkuc .content__text {
    margin-top: 50px;
    margin-bottom: 10px;
}

#sleek-as-fkuc .content__nav {
    display: flex;
    gap: 50px;
}

#sleek-as-fkuc .navigation {
    position: absolute;
    top: calc(100% - var(--image-block-height));
    left: var(--default-margin);

    display: flex;  
    gap: 30px;
}

#bright-ass-orange {
    margin-top: calc(var(--image-block-height) * -1);
    margin-left: 30vw;
}

#bright-ass-orange > .image-block {
    background-image: url("/asset/mountain1.png");
}

#bright-ass-orange .tweet {
    margin-top: 50px;

    display: flex;
    column-gap: 10px;
    align-items: center;
}

#bright-ass-orange .tweet__link {
    font-family: var(--alternative-font-family);
    font-size: 12px;
    color: var(--gray-color);
}

#melbourne-australia {
    margin: 70px var(--default-margin);
}

#melbourne-australia .paragraph {
    color: var(--dark-blue-color);
    margin: 30px 0px;
}

#melbourne-australia .paragraph p:first-child {
    font-size: 1.2rem;
    font-weight: 300;

    color: var(--gray-color);
}

#words-and-such .header__background {
    height: 70vh;
    min-height: 600px;

    background-image: url("/asset/background2.png");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

#words-and-such .header__content {
    display: flex;

    margin-top: -400px;
    margin-left: var(--default-margin);

    width: 50vw;
    min-width: 600px;
    height: 400px;
}

#words-and-such .header__content__text {
    width: 50%;
    padding: 100px 100px 100px 50px;
    background-color: var(--primary-color);
    color: white;
}

#words-and-such .header__content__avatar {
    width: 50%;
    background-image: url("/asset/avatar.png");
    background-size: cover;
}

#words-and-such .paragraph {
    background-color: var(--primary-color);
    color: white;
    margin-left: var(--default-margin);
    padding: 100px 200px 100px 50px;
}

#take-action {
    background-color: var(--darker-blue-color);
    color: white;

    margin-left: var(--default-margin);
    padding: 50px;
}

#take-action form {
    display: flex;
    gap: 10px;

    margin: 30px 0px;
    font-family: var(--alternative-font-family);
    font-size: 12px;
}

#take-action form > input {
    border: none;
    padding: 20px;
    color: var(--dark-blue-color);
}

#take-action form > button {
    border: 2px solid white;
    background-color: transparent;
    color: white;

    padding: 20px 50px;
}

#ohh-this-is-nice {
    margin-left: var(--default-margin);
}

#ohh-this-is-nice .background {
    height: 70vh;
    min-height: calc(2 / 3 * var(--image-block-height) + 100px);
    background-image: url("/asset/background.png");
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

#ohh-this-is-nice .display-block {
    margin-top: calc(-2 / 3 * var(--image-block-height));
    margin-right: var(--default-margin);
}

#ohh-this-is-nice .display-block .image-block {
    background-image: url("/asset/mountain2.png");
}

@media only screen and (max-width: 1100px) {
    #sleek-as-fkuc .content,
    #sleek-as-fkuc .navigation {
        left: var(--mobile-margin);
    }

    #melbourne-australia {
        margin: var(--mobile-margin);
    }

    #bright-ass-orange {
        margin: 0px;
    }

    #words-and-such .header__content {
        margin-left: 0px;
    }

    #words-and-such .paragraph {
        margin: 0px;
        padding: 50px;
    }

    #take-action {
        margin: 0px;
    }

    #take-action form {
        flex-direction: column;
    }

    #ohh-this-is-nice,
    #ohh-this-is-nice .display-block {
        margin: 0px;
    }
}

@media only screen and (max-width: 800px) {
    #sleek-as-fkuc {
        min-height: calc(var(--image-block-height) + 500px);
    }

    #words-and-such .header__content {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 700px) {
    #sleek-as-fkuc .content {
        width: auto;
    }
    
    #words-and-such .header__content {
        display: block;
        min-width: unset;
    }

    #words-and-such .header__content__text {
        width: 100%;
    }

    #words-and-such .header__content__avatar {
        display: none;
    }
}
