:root {
    --orange-color: #f26522;
    --dark-blue-color: #83969f;
    --darker-blue-color: #323339;
    --gray-color: #cfcfcf;

    --default-margin: 175px;
    --mobile-margin: 50px;
    --primary-color: var(--orange-color);
}

* {
    box-sizing: border-box;
}