@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400&family=Raleway:wght@300;400&display=swap');
@import "base.css";

:root {
    --header-font-family: 'Raleway', sans-serif;
    --paragraph-font-family: 'Open Sans', sans-serif;
    --form-font-family: 'Montserrat', sans-serif;
}

html {
    font-family: var(--primary-font-family);
    font-size: 15px;
}

h1 {
    font-family: var(--header-font-family);
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;

    text-transform: uppercase;
}

h2 {
    font-family: var(--header-font-family);
    font-size: 45px;
    font-weight: 300;
    line-height: 39px;

    text-transform: uppercase;
}

h3 {
    font-family: var(--header-font-family);
    font-size: 35px;
    font-weight: 300;
    line-height: 48px;

    text-transform: uppercase;
}

p {
    font-family: var(--paragraph-font-family);
    font-size: 14px;
    line-height: 23px;
}