footer {
    padding:70px 70px 100px var(--default-margin) ;
    background-color: var(--darker-blue-color);
    color: white;

    font-family: var(--alternative-font-family);
    font-size: 0.8rem;
    line-height: 1.8rem;
}

footer nav > ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 50px;
}

footer nav > ul h4 {
    padding-bottom: 20px;
    color: var(--primary-color);
}

footer > p {
    color: var(--dark-blue-color);
    font-size: 12px;

    margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
    footer {
        padding: var(--mobile-margin);
    }
}