header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px var(--default-margin);
}

header .menu-btn {
    display: none;
    height: 30px;
    cursor: pointer;
}

header .logo {
    align-self: center;
    transform: rotate(90deg) translateX(50%);
    transition-duration: 1s;
}

/* Header with solid color (not transparent) */
header.solid,
header.solid ul > li > ul {
    background-color: black;
}

header.solid .logo {
    transform: revert;
}

/* Transition when change background color */
header,
header ul > li > ul {
    transition: background-color 1s;
}

header nav a {
    display: block;

    font-family: var(--header-font-family);
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* Main navigation */
header nav > ul {
    display: flex;
    column-gap: 50px;
}

header nav > ul > li > a {
    padding: 10px;
    margin: 10px 0px;
    border-bottom: 2px solid transparent;
}

header nav > ul > li:hover > a {
    border-bottom-color: var(--dark-blue-color);
}

header nav > ul > li.active > a {
    border-bottom-color: var(--primary-color);
}

header nav > ul > li > a:not(:only-child)::after {
    content: "⯆";
    margin-left: 10px;
}

/* Sub navigation */
header nav > ul > li > ul {
    display: none;
    position: absolute;
    flex-direction: column;

    animation: growDown 200ms ease-in-out forwards;
    transform-origin: top center;
}

header nav > ul > li:hover > ul {
    display: flex;
}

header nav > ul > li > ul > li > a {
    padding: 10px;
    padding-right: 50px;
    border-left: 2px solid transparent;
}

header nav > ul > li > ul > li:hover > a {
    border-left-color: var(--dark-blue-color);
}

header nav > ul > li > ul > li.active > a {
    border-left-color: var(--primary-color);
}

@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    100% {
      transform: scaleY(1)
    }
  }

/* Change padding */
@media only screen and (max-width: 1100px) {
    header {
        padding: 0px var(--tablet-margin);
    }
}

/* Change layout */
@media only screen and (max-width: 800px) {
    header {
        padding: 20px var(--tablet-margin);
        background-color: black;
    }

    header nav {
        width: 100%;
        display: none;

        animation: growDown 200ms ease-in-out forwards;
        transform-origin: top center;
    }

    header nav.show,
    header .menu-btn {
        display: block;
    }

    header .logo {
        order: -1;
        transform: revert;
    }

    /* Main navigation */
    header nav > ul {
        flex-direction: column;
    }

    header nav > ul > li > a {
        margin: 0px;
        border: none;
        border-left: 2px solid transparent;
    }

    header nav > ul > li:hover > a {
        border-left-color: var(--dark-blue-color);
    }

    header nav > ul > li.active > a {
        border-left-color: var(--primary-color);
    }

    /* Sub navigation */
    header nav > ul > li > ul {
        position: static;
    }

    header nav > ul > li > ul > li > a {
        padding-left: 30px;
    }
}
