.paragraph {
    display: flex;
    column-gap: 25px;
}

.paragraph .col {
    flex: 1;
}

.paragraph p {
    margin-top: 30px;
}

@media only screen and (max-width: 600px) { 
    .paragraph {
        flex-direction: column;
    }
}