.paragraph {
    column-count: 2;
    column-gap: 25px;
}

.paragraph p {
    margin-bottom: 30px;

    page-break-inside: avoid;
    break-inside: avoid;
}

@media only screen and (max-width: 800px) { 
    .paragraph {
        column-count: 1;   
    }
}